$primary: #e0e0e0;
$secondary: #d0d0d0;
$headerH: 4rem;
$listBorder: #cccccc;
$footerH: 5rem;
.fixed {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 7%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
    form {
      margin: 0 auto;
      width: 30rem;
      max-width: 50%;
      background-color: rgba(200, 200, 200, 1);
      border-radius: 5px;
      text-align: center;
      fieldset {
        border-width: 0;
        div {
          margin: 20px auto;
          input {
            display: inline-block;
            margin: 20px auto 0;
            width: 50%;
          }
          &.t {
            position: relative;
            .close {
              position: absolute;
              right: 30px;
              font-size: 30px;
              opacity: 1;
              &:hover {
                opacity: 0.3;
              }
            }
          }
          &.m {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
          }
          &.b {
            display: flex;
            justify-content: space-around;
            button {
              flex-grow: 1;
              max-width: 20%;
              background-color: $primary;
              cursor: pointer;
            }
          }
        }
      }
    }
}

[v-cloak] {
  display: none !important;
}
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  font-size: 16px;
  background-color: #f5f5f5;
}
a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000000;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}
li {
  list-style-type: none;
}

.content {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.t-header {
  position: relative;
  height: $headerH;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  background-color: $primary;
  .search {
    display: inline-block;
    position: relative;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    .searchbar {
      outline: none;
      border: none;
      background-color: $primary;
      transition: all linear 0.5s;
      margin-bottom: -2px;
      &:focus {
        border-bottom: 2px solid $secondary;
      }
    }
  }
  .h-nav {
    position: absolute;
    right: 2%;
    display: inline-block;
    height: inherit;
    margin-right: 2rem;
    li {
      display: inline-block;
      line-height: $headerH;
      height: inherit;
      margin: 0 1rem 0 0;
      &:hover {
        cursor: pointer;
        background-color: $secondary;
      }
    }
  }
}

.container {
  position: relative;
  padding-bottom: $footerH;
  .list {
    li.item {
      text-align: center;
      border: 1px solid $listBorder;
      border-collapse: collapse;
      background-color: $primary;
      &:hover {
        cursor: pointer;
        background-color: $secondary;
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0.5rem auto;
        text-overflow: ellipsis;
      }
    }
  }
}

.b-footer {
  position: absolute;
  bottom: 0;
  margin-top: -$footerH;
  background-color: $primary;
  width: 100%;
  height: $footerH;
  padding: 0.5rem 2%;
  text-align: center;
  overflow: hidden;
  a {
    display: inline;
  }
  p {
    margin: 5px 0;
  }
}

.active {
  background-color: $secondary;
}

@media (max-width: 770px) {
.t-header {
  font-size: 1.1rem;   height: $headerH*9/10;
  .h-nav {
    margin-right: 0.3rem;
  }
}
.fixed {
  form {
    margin: 0 auto;
    max-width: 95%;
  }
}
}
